
 body{
    background-color: rgb(80, 73, 73);
        }
    
        
        p{
            background-color: rgba(238, 255, 249, 0);
            color: rgb(245, 238, 239);
            width: 27%;
        }
        img {
            height: 2xp;
        }
        .premier {
            color: aliceblue;
        }
        #deux {
            color: brown;
        }